---
layout: page
description: Conoce la historia de Sevila Maker Society.
background: '/img/bg-about.jpg'
---
<link rel="stylesheet" href="assets/vendor/timeline/css/timeline.css"> <!-- Resource style -->

      <div>
        <section class="cd-timeline js-cd-timeline">
          <div class="cd-timeline__container">

            {% assign curDate = site.time | date: "%Y-%m-%d" %}

            {% for landmark in site.landmarks %}
              {% assign date = landmark.date | date: "%Y-%m-%d" %}
              {% if date < curDate %}
                <div class="cd-timeline__block js-cd-block">
                  <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
                    <img src="img/cd-icon-location.svg" alt="Picture">
                  </div> <!-- cd-timeline__img -->

                  <div class="cd-timeline__content js-cd-content">
                    <h2>{{landmark.title}}</h2>
                    <p>{{landmark.content}}</p>
                    <!-- <a href="#0" class="cd-timeline__read-more">Read more</a> -->
                    <span class="cd-timeline__date">{{landmark.date | date_to_string}}</span>
                  </div> <!-- cd-timeline__content -->

                </div> <!-- cd-timeline__block -->
              {% endif %}
            {% endfor %}
          </div>
        </section> <!-- cd-timeline -->

        <script src="assets/vendor/timeline/js/timeline.js"></script> <!-- Resource JavaScript -->
      </div>
