---
layout: page
description: Actividades
background: '/img/sms-events.jpg'
---



    <h3>Próximos eventos</h3>
    {% assign curDate = site.time | date: "%Y-%m-%d" %}

    <ul>
        {% for event in site.events reversed %}
        {% assign date = event.date | date: "%Y-%m-%d" %}
        {% if date >= curDate %}
        <li><span>{{ event.date | date_to_string }}</span> &raquo; <a href="{{ event.meetup_url }}">{{ event.title }} </a><span>{{events}}</span></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h3>Anteriores eventos</h3>
    <ul>
        {% for event in site.events %}
        {% assign date = event.date | date: "%Y-%m-%d" %}
        {% if date < curDate %}
        <li><span>{{ event.date | date_to_string }}</span> &raquo; <a href="{{ event.meetup_url }}">{{ event.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
