<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
		  {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
		    {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://t.me/sevillamakersociety">
               <span class="fa-stack fa-lg">

                <i class="fa fa-telegram fa-stack-2x"></i>
              </span>
            </a>
          </li>
          {% endif %}
		    {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.meetup.com/es-ES/Maker-Society/">
             <span class="fa-stack fa-lg">

                <i class="fa fa-meetup fa-stack-2x "></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }} | <a href="cookies" target="_blank" class="info">Política de Cookies</a></p>
      </div>
    </div>
  </div>

  <!--//BLOQUE COOKIES: http://politicadecookies.com -->
  <div id="barraaceptacion" style="display: block;">
      <div class="inner">
          Sep, recogemos cookies para conocer quien nos visita. ¿Nos lo permites?
          <a href="javascript:void(0);" class="ok" onclick="installCookie();"><b>Sí, claro</b></a> | <a href="cookies" target="_blank" class="info">Más información</a>
      </div>
  </div>

  <script>
  function getCookie(c_name){
      var c_value = document.cookie;
      var c_start = c_value.indexOf(" " + c_name + "=");
      if (c_start == -1){
          c_start = c_value.indexOf(c_name + "=");
      }
      if (c_start == -1){
          c_value = null;
      }else{
          c_start = c_value.indexOf("=", c_start) + 1;
          var c_end = c_value.indexOf(";", c_start);
          if (c_end == -1){
              c_end = c_value.length;
          }
          c_value = unescape(c_value.substring(c_start,c_end));
      }
      return c_value;
  }

  function setCookie(c_name,value,exdays){
      var exdate=new Date();
      exdate.setDate(exdate.getDate() + exdays);
      var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
      document.cookie=c_name + "=" + c_value;
  }

  function installCookie(){
      setCookie('smscookie_ga','1',365);
      document.getElementById("barraaceptacion").style.display="none";
  }

  if(getCookie('smscookie_ga')!="1"){
      document.getElementById("barraaceptacion").style.display="block";
  } else {
    document.getElementById("barraaceptacion").style.display="none";
  }

  </script>
  <!--//FIN BLOQUE COOKIES-->
</footer>
