---
layout: default
---


<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %} -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

      <div class="row ">
        <div class="col-12 py-4" >
          <h1>La comunidad maker de Sevilla</h1>
          <div class="col">

          {{ content }}
          <button type="button" class="btn btn-outline-info" onclick="location.href = '/contact';">Conócenos</a></button>

          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col col-sm-8 col-md-8">

          <div class="row align-items-center">
            <div class="col "> </div>
            <div class="col ">
              <!-- <img src="../img/sms-logo.svg" class="img-fluid" alt="Logo SMS"> -->
            </div>
            <div class="col "> </div>
          </div>


          <div class="col py-4 ">
            <h2>Únete y participa</h2>
            <p>Sevilla Maker Society se hace con la participación de la gente. El makerspace es el lugar físico de encuentro, pero también disponemos de un
            lugar virtual donde todas las personas entusiastas y con inquietudes tecnológicas estáis invitadas a aportar proyectos, recursos y conocimientos.</p>
            <p>Encuentra en el foro un grupo de trabajo que te interese o créalo. Estamos deseando oir tus propuestas.</p>
            <button type="button" class="btn btn-outline-info" onclick="location.href = 'https://foro.sevillamakers.com/';">Ir al Foro</a></button>
          </div>


          <div class="col py-4 ">
            <h2>Próximos eventos</h2>
              {% assign curDate = site.time | date: "%Y-%m-%d" %}
              <ul>
                  {% for event in site.events reversed %}
                  {% assign date = event.date | date: "%Y-%m-%d" %}
                  {% if date >= curDate %}
                  <li><span>{{ event.date | date_to_string }}</span> &raquo; <a href="{{ event.meetup_url }}">{{ event.title }} </a><span>{{events}}</span></li>
                  {% endif %}
                  {% endfor %}
              </ul>

            <button type="button" class="btn btn-outline-info" onclick="location.href = 'https://www.meetup.com/es-ES/Maker-Society/events/';">Descubre nuestros próximos eventos</a></button>

          </div>


          <div class="col-12 py-4">
            <h2>Ubicación del makerspace</h2>
            <div class="google-maps " >
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1584.9217878278594!2d-5.991691716357021!3d37.39353139747881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c04fc1dc283%3A0x5eb69c0d27df95b6!2sCalle+Alc%C3%A1zares%2C+8%2C+41003+Sevilla!5e0!3m2!1ses!2ses!4v1539437092604" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="col col-sm-4 col-md-4">
          {% twitter https://twitter.com/makersocietysvq maxwidth=350 limit=3 %}
        </div>
      </div>
      <div class="row ">
        <div class="col-12 py-4" >
          <h2>Agradecimientos</h2>
          <div class="col-12">
            <div class="row py-4">
              <div class="col "><img src="../img/sfp-logo.jpg" class="img-fluid" alt="Logo SMS"></div>
              <div class="col ">
                <img src="../img/sms-logo.svg" class="img-fluid" alt="Logo SMS">
              </div>
              <div class="col "></div>

            </div>
            </div>
        </div>
      </div>
    </div>


  </div>
